/*CUERPO DE LA PAGINA (INICIO)*/
#carouselExampleControls{
    width: 100%;
}
.carousel-item{
    max-height: 39rem;
}
.titulo-carousel{
    font-size: 40px;
    font-weight: bold;
}
.texto-carousel{
    font-size: 20px;
}
.cambiar-color{
    color: $colorTres;
}