body{
    padding: 0;
    margin: 0;
}
/*Header*/
.header{
    padding: 50px;
    background-color: rgb(245,245,245);
    text-align: center;
    color: blueviolet
}
.header .logo{
    font-size: 40px;
    font-weight: bold;
}
.navbar{
    display: flex;
    flex-direction: row;
    background-color: #333;
    height: 50px;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 14px 20px;
}
.navbar a:hover{
    color: blueviolet;
}
/*Cuerpo de la pagina (inicio)*/
.content{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url("../imagenes/mujer-pestañas-dos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 90vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.content h1{
    font-size: 3.5em;
}
.boton{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 2px 2px 10px #000;
    color: black;
    background-color: blueviolet;
}
.boton:hover,
.boton:focus{
    background-color: rgb(89, 27, 146);
    transition: background-color 1s ease-out;
    outline: none;
    color: white;
}
.boton{
    margin-top: 50px;
}
/*Cuerpo de la pagina (nosotros)*/
.body__nosotros{
    background-color: #222222;
}
.container__nosotros h1{
    font-size: 3em;
    color: blueviolet;
    font-weight: bold;
    text-align: center;
}
.caja{
    color: white;
}
.caja h2{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.caja p{
    padding: 1em;
    text-align: center;
}
.imagen__nosotros img{
    width: 100%;
}

/*Cuerpo de la pagina (productos)*/
.productos h1{
    text-align: center;
    color: blueviolet;
    font-weight: bold;
    font-size: 3em;
}
/*Cuerpo de la pagina (servicios)*/
.body__servicios{
    background-color: #222222;;
}
.carta{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.info{
    text-align: center;
}
.info h2{
    color: blueviolet;
}
.carta img{
    width: 400px;
}
.container__servicios h1{
    font-weight: bold;
    color: blueviolet;
    text-align: center;
    font-size: 3em;
}
.galeria__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    padding: 20px;
    grid-gap: 10px;
}
.galeria__imagen{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.50);
}
.galeria__item{
    position: relative;
}
.galeria__titulo{
    position: absolute;
    bottom: 0;
    color: white;
    background-color: #333;
    width: 100%;
    margin: 0;
    font-size: 15px;
}
.galeria__item:nth-child(7){
    grid-column-start: span 3;
}
/* Cuerpo de la pagina (contactos)*/
.body__servicios{
    box-sizing: border-box;
    background-color: #181818;
    color: white;
}
.contactos__container{
    padding: 0 1.5em;
}
.content__contactos{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}
.logo__contactos{
    text-align: center;
    font-size: 3em;
    color: blueviolet;
}
.contactos__wrapper >*{
    padding: 1em;
}
.contactos__form{
    background-color: #222222;
    border-radius: 5px;
}
.contactos__form form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.contactos__form .bloque{
    grid-column: 1 / 3;
}
.contactos__form form p{
    margin: 0;
    padding: 1em;
}
.contactos__form form .boton__contactos,
.contactos__form form input,
.contactos__form form textarea{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    border-bottom: 1px solid blueviolet;
    outline: none;
    color: white;
}
.contactos__form form .boton__contactos{
    color: black;
}
.contactos__form form .boton__contactos{
    background-color: blueviolet;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}
.contactos__form form .boton__contactos:hover,
.contactos__form form .boton__contactos:focus{
    background-color:rgb(89, 27, 146);
    color: white;
    transition: background-color 1s ease-out;
    outline: none;
}
.contactos__info{
    background-color: #000;
    border-radius: 5px;
}
.contactos__info h4,
.contactos__info ul,
.contactos__info p{
    text-align: center;
    margin: 0 0 1rem 0;
}
.contactos__info ul{
    list-style: none;
    padding: 0;
}
.contactos__info ul li{
    padding: .3em;
}
.contactos__info ul li i{
    padding-right: 10px;
}
/*Contactos*/
@media screen and (min-width:700px) {
    .contactos__container{
        padding: 0 4rem;
    }
    .contactos__wrapper{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contactos__wrapper >*{
        padding: 2em;
    }
    .contactos__info h4,
    .contactos__info ul,
    .contactos__info p{
        text-align: left;
    }
}


/*Servicios*/
@media screen and (min-width:700px) {
    .navbar a:hover{
        border-top: 5px solid blueviolet;
    }
    .galeria__container{
        grid-template-columns: repeat(4,1fr);
    }
    .galeria__item:nth-child(6){
        grid-column-start: span 2;
    }
    .galeria__item:nth-child(4){
        grid-row-start: span 3;
    }
}

@media screen and (min-width:1024px) {
    .galeria__container{
        grid-template-columns: repeat(5,1fr);
    }
    .galeria__item:nth-child(6){
        grid-column-start: span 2;
    }
    .galeria__item:nth-child(3){
        grid-row-start: span 3;
    }
    .galeria__item:nth-child(5){
        grid-row-start: span 3;
        }
    .galeria__item:nth-child(4){
        grid-row-start: span 3;
    }
    .galeria__item:nth-child(7){
        grid-column-start: span 2;
    }
}

@media screen and (max-width:700px){
    .navbar{
        flex-direction: column;
        height: 250px;
    }
    .navbar a:hover{
        border-left: 5px solid blueviolet;
    }
}
/*Footer*/
.footer{
    background-color: rgb(29, 29, 29);
}
.contenedor__footer-todo h2{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin: 0;
    padding: 10px;
}
.contenedor__footer-todo p{
    margin: 0;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.redes{
    text-align: center;
    margin: 0;
    padding: 10px;
}
.redes li{
    list-style: none;
}
.redes{
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
}
.redes a:hover{
    color: blueviolet;
}
.redes li{
    padding: 1em;
}
.redes i{
    padding-right: 10px;
}
